{% extends 'main.html' %}
{% load static %}
{% block content %}



<!-- 
#f6bd60; -->

<!-- <div class="blog-card spring-fever">

    <div class="title-content">
        <h3><a href="#">VoyageLA</a></h3>
        <div class="intro"> <a href="#">Rising Stars: Meet Shayan Valaie</a> </div>
    </div>
    <div class="card-info">
        <i>Today we’d like to introduce you to Shayan Valaie.</i>
        <a href="http://voyagela.com/interview/rising-stars-meet-shayan-valaie-of-woodland-hills/" target="_blank">Read
            Article<span class="licon icon-arr icon-black"></span></a>
    </div>
    <div class="utility-info">
        <ul class="utility-list">

            <li>
                <p class="licon icon-dat"></p>02 September 2021
            </li>

        </ul>
    </div>
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
</div> -->


<!-- 
<div class="container">
    <div class="square">
        <img src="https://images.unsplash.com/photo-1504610926078-a1611febcad3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e1c8fe0c9197d66232511525bfd1cc82&auto=format&fit=crop&w=1100&q=80"
            class="mask">
        <div class="h1">Is Apple a Design Company?</div>
        <p class="text-black">Apple is more than a tech company; it became a culture unto itself, a passion of most
            of people and the
            birthplace of the world’s most revolutionized products.</p>

        <div><a href="https://medium.com/@laheshk/is-apple-a-design-company-f5c83514e261" target="_" class="button">Read
                More</a></div>
    </div>



</div> -->


<!-- <!-- <div class="card-body  center blog-shadow-dreamy">
    <div class="card-image"><img class="" src="{% static 'images/afx.png' %}" /></div>
    <div class="card-text p-2">
        <i class="date">September 23 2021</i>
        <h2>Shayan Valaie: FØURDAYS </h2>

        <i>WRITTEN BY FRANCESCO MAGAGNI</i>
    </div>
    <div class="card-stats p-2">

        <div class="stat ">

            <i>Shayan Valaie is a singer/songwriter guitarist and audio engineer directly from Los Angeles, USA,

            </i>
            <a href="#" class="mt-4 btn btn-outline-dark">Read More</a>

        </div>
    </div>
</div> -->


<!-- CAROUSAL -->

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card-body  blog-shadow-dreamy">
                <div class="card-image"><img class="" src="{% static 'images/afx2.png' %}" /></div>
                <div class="card-text p-2">

                    <h2>Shayan Valaie: FØURDAYS </h2>

                    <i>WRITTEN BY FRANCESCO MAGAGNI</i>
                </div>
                <div class="card-stats p-2">

                    <div class="stat ">

                        <i>Shayan Valaie is a singer/songwriter guitarist and audio engineer directly from Los
                            Angeles...


                        </i>
                        <br>
                        <a href="https://www.artfixymxradio.com/afx-radio-blog/xkzay7malp1cfm2viy1kcwywscgze2"
                            target="_blank" class="mt-3 mb-3 btn btn-outline-dark">Read More</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-body  blog-shadow-dreamy">
                <div class="card-image"><img class="" src="{% static 'images/further.png' %}" /></div>
                <div class="card-text p-2">

                    <h2>OUR NEW ADDICTION </h2>

                    <i>WRITTEN BY THE FURTHER</i>
                </div>
                <div class="card-stats p-2">

                    <div class="stat ">

                        <i>SHAYAN VALAIE recently unveiled a standout and refreshing single entitled “FØURDAYS”...

                        </i>
                        <br>
                        <a href="https://the-further.com/shayan-valaie-unveils-fourdays-our-new-addiction"
                            target="_blank" class="mt-3 mb-3 btn btn-outline-dark">Read More</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-body  blog-shadow-dreamy">
                <div class="card-image"><img class="" src="{% static 'images/sinus2.png' %}" /></div>
                <div class="card-text p-2">

                    <h2>Shayan Valaie – FØURDAYS </h2>

                    <i>WRITTEN BY SINUSOIDAL MUSIC </i>
                </div>
                <div class="card-stats p-2">

                    <div class="stat ">

                        <i>Hip-hop artist and music producer Shayan Valaie prevents dust from settling...


                        </i>

                        <br>
                        <a href="https://sinusoidalmusic.com/2021/09/12/shayan-valaie-fourdays-ft-yan-p/"
                            target="_blank" class="mt-3 mb-3 btn btn-outline-dark">Read More</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="card-body  blog-shadow-dreamy">
                <div class="card-image"><img class="" src="{% static 'images/la.png' %}" /></div>
                <div class="card-text p-2">

                    <h2>FØURDAYS (feat. Yan P) [Review] </h2>

                    <i>WRITTEN BY LA ON LOCK</i>
                </div>
                <div class="card-stats p-2">

                    <div class="stat ">

                        <i>You ever been up for ‘FØURDAYS’ and realize you can longer feel your face...

                        </i>
                        <br>
                        <a href="https://www.laonlock.com/reviews/8/6/2021/shayan-valaie-furdays-feat-yan-p-review"
                            target="_blank" class="mt-3 mb-3 btn btn-outline-dark">Read More</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-body  blog-shadow-dreamy">
                <div class="card-image"><img class="" src="{% static 'images/voyage2.png' %}" /></div>
                <div class="card-text p-2">

                    <h1>Rising Stars: Meet Shayan Valaie </h1>

                    <i>WRITTEN BY VOYAGELA</i>
                </div>
                <div class="card-stats p-2">

                    <div class="stat ">

                        <i>Today we’d like to introduce you to Shayan Valaie...

                        </i>
                        <br>
                        <a href="http://voyagela.com/interview/rising-stars-meet-shayan-valaie-of-woodland-hills/"
                            target="_blank" class="mt-3 mb-3 btn btn-outline-dark">Read More</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock content %}